# Model Configuration
model:
  name: cnnmae_small
  patch_size: 4  # For 56x56 input
  # Encoder parameters
  encoder_embed_dim: 64      # Base dimension for CNN encoder's first stage
  encoder_depths: [2, 6]  # Number of blocks per stage (matches mae_cnn_small default)
  # Decoder parameters
  decoder_dim: 256           # Base dimension for CNN decoder (updated from previous version)
  # Other parameters
  use_batchnorm: true        # Use batch normalization
  mask_ratio: 0.75

# Loss Configuration
loss:
  name: betti_matching
  norm_pix_loss: true
  alpha: 0.05
  alpha_warmup_epochs: 0
  alpha_mse_treshold: 0 # If mse_loss > treshold, use mse loss purely
  filtration: "superlevel"  # Available options: "superlevel", "sublevel", "bothlevels"
  push_unmatched_to_1_0: false
  barcode_length_threshold: 0.0 # ignore barcodes with length < threshold, set to a small value
  sphere: true
  calculate_channels_separately: true
  
# Data Configuration
data:
  input_size: 56
  data_path: "/vol/miltank/users/sayb/datasets/roads_mini_rec/train"
  eval_data_path: "/vol/miltank/users/sayb/datasets/roads_mini_rec/val"
  num_workers: 16

# Pre-training Hyperparameters
training:
  # Optimizer parameters
  optimizer: adamw
  weight_decay: 0.05
  beta1: 0.9
  beta2: 0.95
  # Learning Rate Schedule
  learning_rate: 1.e-3 # Base LR
  min_lr: 0.0 # Lower bound
  warmup_epochs: 5
  # Training loop
  epochs: 100
  batch_size: 1024
  gradient_accumulation_steps: 1 # Gradient accumulation steps
  # Misc
  mixed_precision: true # Use mixed precision training
  seed: 42

# Logging & Checkpointing
logging:
  enable_wandb: true
  wandb_project: "topo-conv-mae-pretrain" # Your W&B project name
  wandb_run_name: "cnn_mae_bm_superlevel_sc" # Optional custom run name
  wandb_run_id: "cnn_mae_bm_superlevel_sc" # Optional custom run id
  output_dir: "/vol/miltank/users/sayb/projects/topo-conv-mae/output/pretrain/cnn_mae_bm_superlevel_sc" # Checkpoint dir
  val_interval: 1 # validation interval
  log_interval: 1 # wandb log interval
  include_vis: true # Include visualizations
  vis_interval: 1 # visualization interval
  checkpointing: true
