# Model Configuration
model:
  name: mae_vit_base_patch16
  patch_size: 8
  mask_ratio: 0.75

# Loss Configuration
loss:
  name: mse
  norm_pix_loss: true
  num_processes: 32
  
# Data Configuration
data:
  input_size: 96
  augmentation:
    name: RandomResizedCrop 
    scale: [0.024, 1.0] # Scale range for RandomResizedCrop
    ratio: [0.75, 1.3333] # Aspect ratio range for RandomResizedCrop
  data_path: "/vol/miltank/users/sayb/datasets/massgis_half/train"
  eval_data_path: "/vol/miltank/users/sayb/datasets/massgis_half/val"
  num_workers: 32

# Pre-training Hyperparameters
training:
  # Optimizer parameters
  optimizer: adamw
  weight_decay: 0.05
  beta1: 0.9
  beta2: 0.95
  # frozen_encoder_epochs: 0
  # Learning Rate Schedule
  learning_rate: 1.e-4 # Base LR
  min_lr: 0.0 # Lower bound
  warmup_epochs: 10
  # Training loop
  epochs: 200 # Adjust as needed
  batch_size: 2048 # Adjust based on GPU memory
  gradient_accumulation_steps: 1 # Gradient accumulation steps
  # Misc
  mixed_precision: true # Use mixed precision training
  seed: 42

# Logging & Checkpointing
logging:
  enable_wandb: true
  wandb_project: "topo-conv-mae-pretrain" # Your W&B project name
  wandb_run_name: "vitmae_96_8_1e-4" # Optional custom run name
  wandb_run_id: "vitmae_96_8_1e-4" # Optional custom run id
  output_dir: "/vol/miltank/users/sayb/projects/topo-conv-mae/output/pretrain/vitmae_96_8_1e-4" # Checkpoint dir
  val_interval: 5 # validation interval
  log_interval: 1 # wandb log interval
  include_vis: true # Include visualizations
  vis_interval: 5 # visualization interval
  checkpointing: true
