program: scripts/pretrain.py
project: topo-conv-mae-pretrain
name: sweep_mse

metric:
  goal: minimize
  name: val/mse_metric

method: bayes
parameters:
  data:
    parameters:
      augmentation:
        parameters:
          max_scale:
            distribution: uniform
            min: 0.1
            max: 1.0
          min_scale_weight:
            distribution: q_log_uniform_values
            min: 0.01
            max: 1.0
            q: 0.01
          max_ratio:
            distribution: q_log_uniform_values
            min: 1.0
            max: 5.0
            q: 0.1
  training:
    parameters:
      learning_rate:
        distribution: log_uniform_values
        min: 5.0e-6
        max: 5.0e-3
      warmup_epochs:
        distribution: q_uniform
        min: 0
        max: 120
        q: 30

early_terminate:
  type: hyperband
  min_iter: 60
  eta: 2
  s: 3

command:
  - ${env}
  - ${interpreter}
  - ${program}
  - "--config"
  - "/vol/miltank/users/sayb/projects/topo-conv-mae/configs/pretrain/cluster/vitmae_base.yaml"
  - "--sweep"