# Model Configuration
model:
  name: mae_vit_base_patch16
  # pretrained_path: "./pretrained_models/convnextv2_pico_1k_224_fcmae.pt" # Path to pre-trained model weights
  patch_size: 16
  mask_ratio: 0.75

# Loss Configuration
loss:
  name: mse
  norm_pix_loss: true
  # alpha: 0.005
  # alpha_warmup_epochs: 0
  # alpha_mse_treshold: 0 # If mse_loss > treshold, use mse loss purely
  # filtration: "bothlevels"  # Available options: "superlevel", "sublevel", "bothlevels"
  # push_unmatched_to_1_0: false
  # barcode_length_threshold: 0.0 # ignore barcodes with length < threshold, set to a small value
  # sphere: true
  # calculate_channels_separately: true # Calculate Betti numbers for each channel separately
  
# Data Configuration
data:
  input_size: 224
  augmentation:
    name: RandomResizedCrop 
    scale: [0.08, 1.] # Scale range for RandomResizedCrop
    ratio: [0.75, 1.3333] # Aspect ratio range for RandomResizedCrop
  data_path: "./data/pretrain/massgis_375_test/train"
  eval_data_path: "./data/pretrain/massgis_375_test/val"
  num_workers: 16

# Pre-training Hyperparameters
training:
  # Optimizer parameters
  optimizer: adamw
  weight_decay: 0.05
  beta1: 0.9
  beta2: 0.95
  # frozen_encoder_epochs: 0 # Number of epochs to freeze encoder, set to 0 for no freezing
  # Learning Rate Schedule
  learning_rate: 1.5e-4 # Base LR
  min_lr: 0.0 # Lower bound
  warmup_epochs: 2
  # Training loop
  epochs: 20 # Adjust as needed
  batch_size: 2 # Adjust based on GPU memory
  gradient_accumulation_steps: 1 # Gradient accumulation steps
  # Misc
  mixed_precision: true # Use mixed precision training
  seed: 42

# Logging & Checkpointing
logging:
  enable_wandb: false
  wandb_project: "topo-conv-mae-pretrain" # Your W&B project name
  wandb_run_name: "vitmae_test_2" # Optional custom run name
  # wandb_run_id: "cnn_mae_bm_test" # Optional custom run id
  output_dir: "./output/pretrain/vitmae_c_test" # Checkpoint dir
  val_interval: 1 # validation interval
  log_interval: 1 # wandb log interval
  include_vis: true # Include visualizations
  vis_interval: 4 # visualization interval
  checkpointing: true
