# Model Configuration
model:
  name: mae_vit_base_patch16
  # pretrained_path: "./pretrained_models/mae_pretrain_vit_base.pth" # Path to pre-trained model weights
  patch_size: 8
  mask_ratio: 0.75

# Loss Configuration
loss:
  name: betti_matching
  norm_pix_loss: true
  alpha: 0.02
  alpha_warmup_epochs: 0
  alpha_mse_treshold: 0 # If mse_loss > treshold, use mse loss purely
  filtration: "superlevel"  # Available options: "superlevel", "sublevel", "bothlevels"
  push_unmatched_to_1_0: false
  barcode_length_threshold: 0.001 # ignore barcodes with length < threshold, set to a small value
  sphere: false
  calculate_channels_separately: true # Calculate Betti numbers for each channel separately
  patchwise_bm: false # Compute Betti Matching loss patch-wise
  num_processes: 8 # Number of processes for Betti Matching loss computation
  log_timing: false # Log timing for Betti Matching loss computation
  
# Data Configuration
data:
  input_size: 48
  augmentation:
    name: RandomResizedCrop 
    scale: [0.006, 0.0625] # Scale range for RandomResizedCrop
    ratio: [0.75, 1.3333] # Aspect ratio 
  data_path: "./data/pretrain/massgis_half/train"
  eval_data_path: "./data/pretrain/massgis_half/val"
  num_workers: 4
  use_in_memory: true
  in_memory_preload_workers: 16

# Pre-training Hyperparameters
training:
  # Optimizer parameters
  optimizer: adamw
  weight_decay: 0.05
  beta1: 0.9
  beta2: 0.95
  frozen_encoder_epochs: 0 # Number of epochs to freeze encoder, set to 0 for no freezing
  # Learning Rate Schedule
  learning_rate: 1.e-4 # Base LR
  min_lr: 0.0 # Lower bound
  warmup_epochs: 1
  warmup_lr_init: 0.0 # Can use to have high LR for decoder during warmup
  # Training loop
  epochs: 2 # Adjust as needed
  batch_size: 128 # Adjust based on GPU memory
  gradient_accumulation_steps: 2 # Gradient accumulation steps
  # Misc
  mixed_precision: true # Use mixed precision training
  seed: 42

# Logging & Checkpointing
logging:
  enable_wandb: false
  wandb_project: "topo-conv-mae-pretrain" # Your W&B project name
  wandb_run_name: "vitmae_test_128_2" # Optional custom run name
  # wandb_run_id: "cnn_mae_bm_test" # Optional custom run id
  output_dir: "./output/pretrain/vitmae_test" # Checkpoint dir
  val_interval: 2 # validation interval
  log_interval: 1 # wandb log interval
  include_vis: false # Include visualizations
  vis_interval: 2 # visualization interval
  checkpointing: false
  checkpoint_interval: 4 # checkpoint saving interval in epochs (should be a multiple of val_interval)
